<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.web.controller.dao.LeFoodtypeMapper">
  <resultMap id="BaseResultMap" type="com.zz.framework.domain.business.LeFoodtype">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="foodtype" jdbcType="VARCHAR" property="foodtype" />
    <result column="describ" jdbcType="VARCHAR" property="describ" />
  </resultMap>
</mapper>