<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.business.dao.LeBargainRuleMapper">
  <resultMap id="BaseResultMap" type="com.zz.framework.domain.business.LeBargainRule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title"            jdbcType="VARCHAR" property="title" />
    <result column="discount"            jdbcType="INTEGER" property="discount" />
    <result column="limitstart"          jdbcType="DECIMAL" property="limitstart" />
    <result column="limitend"          jdbcType="DECIMAL" property="limitend" />
    <result column="createtime"     jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime"     jdbcType="TIMESTAMP" property="updatetime" />



  </resultMap>



</mapper>