<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.business.dao.LeBusinessMapper">
  <resultMap id="BaseResultMap" type="com.zz.framework.domain.business.LeBusiness">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="businessname" jdbcType="VARCHAR" property="businessname" />
    <result column="businessnickname" jdbcType="VARCHAR" property="businessnickname" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
</mapper>